.contact {
  padding: 8vh 0;

  &__wrapper {
    &__form {
      &__form-wrapper {
        margin-bottom: 6rem;
        &__wrapper {
          margin-bottom: 2rem;
          label,
          input {
            display: block;
            width: 100%;
          }

          label {
            margin-bottom: 0.5rem;
            color: $color-text;
          }

          input {
            padding: 0.5rem;
            background-color: rgba(0, 102, 0, 0.13);
            border: none;
            border-radius: 2.5rem;
          }

          textarea {
            width: 100%;
            resize: none;
            border: none;
            background-color: rgba(0, 102, 0, 0.13);
            padding: 0.5rem;
            border-radius: 2.5rem;
          }
        }

        a {
          display: block;
          text-transform: uppercase;
          text-align: center;
        }
      }
    }

    &__map {
      display: flex;

      iframe {
        width: 100%;
        display: block;
        height: 100%;

        @media only screen and (max-width: 1024px) {
          height: 45rem;
        }
      }
    }
  }
}
