.fourzerofour {
  padding: 8vh 0;
  &__wrapper {
    display: flex;
    align-items: center;
    text-align: center;

    @media only screen and (max-width: 768px) {
      display: unset;
    }
    &__content {
      width: 100%;

      h1 {
        color: $color-primary;
        line-height: clamp(2.2rem, 8vw, 5rem);
        font-size: clamp(2.2rem, 8vw, 4rem);
        text-transform: uppercase;
        font-family: "poppins-bold";
        margin-bottom: 4rem;
      }

      p {
        font-family: "poppins-bold";
        margin-bottom: 4rem;
      }
      a {
        font-family: "poppins-semibold";
        color: $color-secondary;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          display: flex;
          margin-left: 1rem;
          transition: 0.2s all ease-in-out;
          svg {
            width: 1.6rem;
            height: 1.6rem;
          }
        }

        &:hover {
          span {
            transform: translateX(0.5rem);
          }
        }

        @media only screen and (max-width: 768px) {
          margin-bottom: 4rem;
        }
      }
    }

    &__img {
      width: 100%;
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}
