.banner-slider {
  position: relative;
  background-color: #69cc69;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: screen;

  ul li {
    display: inline-block;
    padding: 8vh 0;
    word-break: unset !important;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    &__img {
      img {
        width: 35rem;
        margin: 0 auto;
        height: 37rem;
        object-fit: contain;

        @media only screen and (max-width: 768px) {
          width: 55%;
        }
      }
      @media only screen and (max-width: 768px) {
        display: none;
      }
    }

    &__content {
      text-align: left;

      @media only screen and (max-width: 414px) {
        text-align: center;
      }

      h2 {
        color: $color-light;
      }

      p {
        margin-bottom: 4rem;
        text-align: left;
        color: $color-light;
        word-break: unset !important;
      }
      a {
        display: inline-block;
      }

      @media only screen and (max-width: 768px) {
        width: 90%;
        margin: 0 auto;
      }
    }
  }

  .splide__pagination {
    bottom: -4.5rem;
  }
}
