.partners {
  padding: 8vh 0;
  @media only screen and (max-width: 991px) {
    text-align: center;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3.6rem;

    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media only screen and (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    @media only screen and (max-width: 414px) {
      grid-template-columns: 1fr;
    }
    li {
      list-style-type: none;

      img {
        width: 100%;
        height: 8rem;
        object-fit: contain;
      }
    }
  }
}

.splide__arrow {
  width: 4em !important;
  height: 4em !important;

  @media only screen and (max-width: 1400px) {
    width: 2em !important;
    height: 2em !important;
  }
}
.splide__arrows {
  @media only screen and (max-width: 414px) {
    display: none !important;
  }
}

.splide__arrow--prev {
  left: 3em !important;

  @media only screen and (max-width: 1400px) {
    left: 1em !important;
  }
}

.splide__arrow--next {
  right: 3em !important;

  @media only screen and (max-width: 1400px) {
    right: 1em !important;
  }
}

.splide__arrow svg {
  width: 2.2em !important;
  height: 2.2em !important;

  @media only screen and (max-width: 1400px) {
    width: 1.2em !important;
    height: 1.2em !important;
  }
}

// .splide__pagination__page.is-active {
//   background: #006600 !important;
// }
