* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-rendering: optimizeSpeed;
}

body {
  font-family: "poppins-regular", sans-serif;
  line-height: 1.4rem;
  font-size: 1.4rem;
}

html {
  font-size: 62.5%;
  text-rendering: optimizeSpeed;
}

p,
ol {
  // word-break: break-all;
  color: $color-text;
  line-height: 2.2rem !important;
}

ol {
  list-style-position: inside;
}

a {
  text-decoration: none;
  color: inherit;
}

// ul li {
//   word-break: break-all;
// }
